.container {
    width: 100%;
    height: 100vh;
    background:url('/chap11/images/bg5.jpg') no-repeat left top fixed;
    background-size:cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.content {
    background-color:#ccc;
    font-size: 1.2em; 
    padding:1em 2em;
    border:none;
    border-radius:5px;    
    box-shadow:1px 1px 2px #fff; 
    text-align: center;
}